{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>Your Profile and Preferences</h1>
<p>The email address we have recorded for you is: {{ current_user.email }}</p>
<p>You are currently studying: {{ current_user.course_name }}</p>

<h2>Current Availability</h2>

<table class="table">
<thead>
<tr class="table-dark">
<td> </td>
{% for day_code,day_name in days %}
	<td>{{ day_name }}</td>
{% endfor %}
</tr>
</thead>
<tbody>
{% for time_code, time_name in time_slots %}
    <tr>
    <td class="table-dark">
        {{ time_name }}
    </td>
    {% for day_code, day_name in days %}
        {% if current_user.availability %}
            {% if av_vec_to_dict(current_user.availability)[day_code][time_code] %}
                <td class="table-success"> </td>
            {% else %}
                <td> </td>
            {% endif %}
        {% else %}
            <td> </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>

<div class="container">
    <a class="btn btn-primary" href="{{ url_for('availability') }}" role="button">Edit Availability</a>
</div>

<br>

<h2>Your Module Preferences</h2>

<div class="container">
    <div class="row">
        <div class="col">Module 1:</div>
        <div class="col">{{ module_list[current_user.module1] }}</div>
    </div>
    <div class="row">
        <div class="col">Module 2:</div>
        <div class="col">{{ module_list[current_user.module2] }}</div>
    </div>
    <div class="row">
        <div class="col">Module 3:</div>
        <div class="col">{{ module_list[current_user.module3] }}</div>
    </div>
</div>

<div class="container">
    <a class="btn btn-primary" href="{{ url_for('modules') }}" role="button">Edit Module Preferences</a>
</div>

<br>
{% endblock %}
