{% extends 'base.html' %}
{% import 'group_button.html' as gb %}

{% block content %}
	<h1>Groups</h1>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for group in groups %}
                <div class="col">
                    <a href="{{ url_for('group_page_id', id=group.id) }}">
                        {{ gb.group_button(group) }}
                    </a>
                </div>
            {% endfor %}
            <div class="col">
                <a href="{{ url_for('new_group') }}" methods="post">
                    {{ gb.group_button(None) }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}