
{% block content %}
<img src="{{ url_for('static', filename='studybuddylogo.png') }}"
     alt="My image"
     width="500"
     style="border-radius: 10px; display: block; margin-left: auto; margin-right: auto;" />
<h2 style="text-align: center; font-family: Arial, sans-serif;"> Study Buddy, your study group organiser</h2>
<p style="text-align: center; font-family: Arial, sans-serif; "> New user? Register <a href="{{ url_for('register') }}">here</a></p>
<p style="text-align: center;font-family: Arial, sans-serif; "> Already have an account? Login <a href="{{ url_for('login') }}">here</a> </p>
{% endblock %}
