{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{{ title }}</h2>

    {% if current_user.group.group_av %}
        <h5 class="mb-3">Study Buddy suggests you meet at one of these times: </h5>
        <ul class="list-group">

            {% for slot in current_user.group.group_av %}
                {% if slot %}
                    <form action="{{ url_for('add_booking') }}" method="post">
                        {{ form.csrf_token() }}
                        <li class="list-group-item">
                            {{ slot_to_human(loop.index0) }} - {{ rooms[loop.index0 % rooms|length] }}
                            {{ form.choice(value=loop.index0 ~ ',' ~ (loop.index0 % rooms|length)) }}
                            <button type="submit" class="btn btn-sm btn-primary">Select Time</button>
                        </li>
                    </form>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info mt-3">
            No available meeting times found. Try adjusting your availability to match your peers!
        </div>
    {% endif %}

</div>
{% endblock %}
